<div class="core-popover" [class.shown]="widget.show">
    <div class="core-popover_header">
        
    </div>
    <div class="core-popover_container">
        <xscroll class="meepo_address_history_container" [hasMore]="false" [hasRefresh]="false">
            <h6 class="meepo_address_title" *ngIf="data.length>0">最近使用</h6>
            <div class="bmap-address-select-item" *ngFor="let item of data" (click)="_onCitySelect(item)">
                <i class="bt_ic_postal_code"></i>
                <div class="surrounding_content">
                    <h4>{{item.title}}</h4>
                    <p>{{item.address}}</p>
                </div>
            </div>
        </xscroll>
        <h6 class="meepo_address_title" *ngIf="items.length>0">搜索结果</h6>
        <xscroll #xscroll [items]="items" [full]="true" [hasMore]="false" [hasRefresh]="false">
            <ng-template xscrollRef let-item>
                <div class="bmap-address-select-item" (click)="_onCitySelect(item)">
                    <i class="bt_ic_postal_code"></i>
                    <div class="surrounding_content">
                        <h4>{{item.title}}</h4>
                        <p>{{item.address}}</p>
                    </div>
                </div>
            </ng-template>
        </xscroll>
        <div class="meepo_address_empty" *ngIf="items.length == 0 && data.length == 0">没有相关数据</div>
    </div>
</div>