minirefresh-default,
bmap-address-search {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
    background: #efefef;
}

.bmap-address-select-main {
    position: relative;
    height: 100%;
}

.address_list {
    background: #fff;
    position: relative;
    min-height: 200px;
}