<swiper-wrap *ngIf="has" class="bmap-info-detail animated">
    <div class="core-menu-header">
        <div class="avatar">
            <img [src]="info.avatar" />
            <a>关闭</a>
        </div>
        <div class="nickname">
            {{info.nickname || '游客'}}
        </div>
        <div class="tag">
            {{info.tag || '跑腿员'}}
        </div>
    </div>
    <router-outlet name="bmapInfo"></router-outlet>
    <ul class="list">
        <li *ngFor="let item of others">
            <div class="container">
                <ion [name]="item.icon"></ion>
                <p>{{item.title}}</p>
            </div>
        </li>
    </ul>
</swiper-wrap>