.meepo__bmap_order_info {
    position: absolute;
    right: 0px;
    top: 0;
    left: 0px;
    background: rgba(0, 0, 0, .8);
    z-index: 8;
    padding: 10px 5px;
    max-height: 200px;
    overflow: auto;
    .over_info_container {
        position: relative;
        &:before {
            content: " \5173\95ED ";
            position: absolute;
            right: 10px;
            top: 5px;
            color: #fff;
            font-size: .6em;
            width: 2em;
            border: 1px solid #fff;
            border-radius: 50%;
            padding: 5px;
            height: 2em;
            line-height: 2em;
        }
    }
    p {
        color: #fff;
        padding: 10px 15px;
    }
    .title {
        color: #fff;
        font-size: 1em;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer_distance_price_info,
    .empty {
        padding: 0 20px;
        color: rgb(212, 212, 212);
        font-size: .7em;
        list-style: none;
    }
}

.meepo__bmap_order_info_tip {
    position: absolute;
    right: 0px;
    width: 1em;
    z-index: 8;
    background: rgb(8, 8, 8);
    top: 100px;
    padding: 15px 8px;
    color: #fff;
    font-size: .7em;
    p {
        color: #fff;
        padding: 10px 15px;
    }
}