<div class="meepo__bmap_header">
    <div class="home" (click)="locationToHome()">
        <i class="home_ab_user_profile_red_dot"></i>
    </div>
    <div class="title">
        <div class="title_item" (click)="_onHeaderItem(item)" [class.active]="item.active && headerTitles.length>1" *ngFor="let item of headerTitles;index as i;">
            <span>{{item.title}}</span>
        </div>
    </div>
    <div class="help" (click)="switchNotice()">
        <i class="icon_broadcast_message"></i>
    </div>
</div>
<div class="meepo__bmap_topnav" *ngIf="activeTitle.items.length>0">
    <div class="item" (click)="_onNavItem(item)" [class.active]="item.active" *ngFor="let item of activeTitle.items; index as i;">{{item.title}}</div>
</div>

<div #bmap class="meepo__bmap"></div>

<div class="meepo__bmap_tip" [style.bottom.px]="this.bmapService.locationHeight">
    <div class="tip_container">
        <div class="tip_info">
            <i class="weui-loading" *ngIf="loading"></i>
        </div>
        <div class="tip_divider"></div>
        <div class="tip_content">
            {{btnTitle}}
        </div>
    </div>
</div>

<div class="meepo__bmap_order_info" style="bottom: 0px;top:0px;" *ngIf="showNotice" (click)="switchNotice()">
    <h2 class="title">免责声明</h2>
    <p [innerHTML]="ruleContent"></p>
</div>

<div class="meep__bmap_center_icon"></div>
<div class="meepo__map_footer" #footer>
    <div class="footer_container">
        <div class="time_select">
            <div [class.active]="!isCoach" (click)="doNow()" class="time_select_item">现在</div>
            <div class="time_select_item_divider"></div>
            <div [class.active]="isCoach" (click)="doCoach()" class="time_select_item">预约</div>
        </div>
        <div class="time_select_detail" dateTime="请选择预约时间" (onPicker)="timePicker($event)" *ngIf="isCoach">
            请选择预约时间
        </div>
        <div class="address_item" *ngIf="activeNav?.setting.start.show" (click)="_onStartAddressSelect()">
            <span class="home_unlock_to_success_17"></span>
            <input class="weui-input" *ngIf="loading" type="text" readonly disabled placeholder="正在获取位置...">
            <input class="weui-input" *ngIf="!loading" type="text" readonly disabled [attr.value]="start.address">
            <span class="activity_sticker_arrow_right"></span>
        </div>
        <div class="address_item_divider"></div>
        <div class="address_item" *ngIf="activeNav?.setting.end.show" (click)="_onEndAddressSelect()">
            <span class="bg_redpacket_marker"></span>
            <input class="weui-input" type="text" readonly disabled [attr.value]="end.address" placeholder="请选择任务终点">
            <span class="activity_sticker_arrow_right"></span>
        </div>
    </div>
    <div class="footer-btn">
        <a href="javascript:;" (click)="finish()" class="weui-btn weui-btn_primary">{{activeNav?.setting.btnTitle || '立即下单'}}</a>
    </div>
</div>
<ng-content></ng-content>
<!-- 地址选择插件 -->
<bmap-address-select></bmap-address-select>
<bmap-order-info [timePrice]="timePrice" [juliItems]="juliItems" [show]="showOrderDetail"></bmap-order-info>